body{
    margin: 0px;
}
.orange-color{
    color: orange;
    opacity: 90%;
}
h1{
    font-size: 53px;
    font-family: 'Yeseva One', cursive;
    opacity: 90%;
}
h2{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
h3{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Flexible-section{
 display: flex;
}
div{
    width: 50%;
}
.Flexible-section img{
    width: 65%;
}
.bold{
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}
.Margin-and-padding{
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.Border{
    padding-left: 20px;
    border-left: tomato solid 4px;
    opacity: 90%;
    border-radius: 3px;
}
.Down-opacity{
    opacity: 80%;
}
p{
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
}
.button{
    padding: 15px 40px;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 590;   
    border-radius: 5px;
    font-size: 16px;
}
.tomato{
    background-color: tomato;
    opacity: 90%;
}
.Scroll-down{
    padding-top: 20px;
}
.My-mission{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 44px;
    font-weight: 800;
}
.Deep-blue{
    color: rgb(1, 1, 26);
}
.P-border{
    padding-bottom: 20px;
}
.My-mission-in-2022{
    width: 80%;
    margin-left: 125px;
    padding-bottom: 20px;
    border-radius: 10px;

}
.My-mission-in-2022 img{
    width: 50%;
}
.MVG{
    padding-left: 20px;
    padding-right: 40px;
    margin-left: 20px;
    border-radius: 20px;
}
#Mission{
    background-color: rgb(215, 235, 235);
}
#Vision{
    background-color: rgb(240, 225, 222);
}
#Goals{
    background-color: rgb(245, 228, 200);
}
.Develop-Without-Limits img{
    width: 90%;
}
.Develop-Without-Limits{
    margin-top: 53px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 235px;
    background-position-x: 50px;
    background-position-y: 50px;
}  
.Coding{
    margin-left: 145px;
}
.DWL{
    align-content: flex-start;
    margin-right: 300px;
    padding-left: 20px;
    font-size: 3%;
}
.KOGC{
    width: 80%;
    margin-left: 145px;
    margin-top: 35px;
    margin-right: 53px;
    margin-bottom: 65px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.Project-KOGC{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: 290px;
    background-position-y: 330px;
}
.Project-KOGC img{
    width: 75%;
    margin-top: 50px;
    padding-right: 100px;
    margin-right: 400px;
}
.Programming-Hero{
    width: 98%;
    margin-left: 180px;
    margin-top: 35px;
    margin-bottom: 65px;
}
.PH{
    width: 80%;
    margin-right: 50px; 
    margin-top: 35px;
}
.Footer{
    padding: 35px;
    width: 100%;
    background-color: rgb(3, 3, 24);
    text-align: center;
}
